<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dokterandroidmedsch">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".utils.BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_apl_medsch"
        android:label="MedSch Dokter"
        android:roundIcon="@mipmap/ic_apl_medsch_round"
        android:networkSecurityConfig="@xml/network_security_config"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".ui.konfirmasi.KonfirmasiJadwal"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        </activity>
        <activity android:name=".ui.jadwal.JadwalKuliah"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ui.menu.Dashboard"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity android:name=".ui.login.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>


        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>